* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/* Common CSS style start */
.container {
  max-width: 1240px;
  margin: 0% auto;
}
.between {
  display: grid;
  gap: 5rem;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  align-items: center;
}
/* Common CSS style end */
.navbar {
  max-width: 93%;
  margin: 0% auto;
  display: flex;
  gap: 2.5rem;
  padding: 1.3rem 2.5rem;
  color: #0b0736;

  & h3 {
    font-weight: bold;
    font-size: 1.5rem;
  }
  & div {
    border: 1px solid gainsboro;
    padding: 0.5rem;
    display: flex;
    gap: 0.5rem;
    font-weight: 600;
    border-radius: 0.3rem;
  }
}
.banner-image {
  position: absolute;
  width: 50vw;
  right: 0;
  top: 0;
  z-index: -155;
}
.banner_section {
  padding: 7.5rem 0;
  margin-left: 150px;

  & h1 {
    font-size: 5.6rem;
    font-weight: 600;
    color: #0b0736;
  }
  & div {
    padding: 1.3rem;
    display: flex;
    gap: 0.3rem;
    color: #0b0736;
    align-items: center;
    justify-items: center;
    font-size: 1.6rem;
  }
}
button {
  color: #fff;
  background-color: #0b0736;
  border-radius: 0.8rem;
  font-size: 1.2rem;
  font-weight: 500;
  border: none;
  cursor: pointer;
  padding: 1.3rem 1.8rem;
}
.target-section {
  padding: 8.8rem 0;

  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .details-section {
    & h2 {
      font-size: 68px;
      font-weight: 550;
    }
    .details {
      padding: 40px 0;
      color: grey;
      font-size: 24px;
      font-weight: 400;
    }
    .store-design {
      display: flex;
      align-items: center;
      gap: 1rem;
      padding: 1rem 28px;
      background-color: #cce8fd;
      border-radius: 20px;
      width: fit-content;
      & p {
        font-size: 12px;
        color: #9393c4;
      }
      & h3 {
        font-size: 18px;
        font-weight: 600;
      }
      & img {
        width: 1.5rem;
      }
    }
  }
}

/*Track Section */
.track-section {
  position: relative;

  .bg-track {
    position: absolute;
    z-index: -155;
    left: 0;
    top: 10%;
  }
  .left-section {
    & h2 {
      font-size: 85px;
    }
    .image-grid {
      padding: 80px 0 0 80px;
      display: flex;
      gap: 20px;

      & div {
        width: 150px;
        display: flex;
        flex-direction: column;
        gap: 20px;
      }
      & div:nth-child(2) {
        margin-top: 40px;
      }
    }
  }

  .right-section {
    & h3 {
      font-size: 40px;
      color: #9393c4;
      font-weight: 400;
      padding-right: 8rem;
    }
    .details-div {
      display: flex;
      align-items: start;
      gap: 30px;
      margin-top: 60px;
      & div {
        padding-top: 20px;
      }
      & h2 {
        font-size: 24px;
        font-weight: 600;
      }
      & p {
        font-size: 20px;
        color: #9393c4;
        padding-top: 20px;
        max-width: 18.8rem;
      }
    }
  }
}
.company {
  display: flex;
  align-items: center;
  justify-content: center;
  & img {
    max-width: 100%;
    object-fit: cover;
  }
}
/* Join section */
.join {
  width: 90%;
  margin: 120px auto;
  background-color: #d9f4ff;
  border-radius: 56px;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  .details {
    display: flex;
    justify-content: center;
    margin: 0% auto;
    flex-direction: column;
    gap: 24px;
    & h2 {
      font-size: 68px;
    }
    .store-design {
      display: flex;
      align-items: center;
      gap: 1rem;
      padding: 1rem 28px;
      background-color: #130f49;
      border-radius: 20px;
      width: fit-content;
      & p {
        font-size: 12px;
        color: #9393c4;
      }
      & h3 {
        color: #fff;
        font-size: 18px;
        font-weight: 600;
      }
      & img {
        width: 1.5rem;
      }
    }
  }
}
.copyright {
  text-align: center;
  color: #9393c4;
  margin-bottom: 20px;
}

/* responsive for mobile */
@media (max-device-width: 767px) {
  .container {
    padding: 0 1rem;
  }
  .between {
    gap: 3rem;
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }

  .banner_section {
    padding: 60px 16px;
    position: relative;
    right: 115px;
    & h1 {
      font-size: 40px;
    }
    & div {
      padding: 16px 0;
      font-size: 20px;
    }
  }
  .track-section {
    .bg-track {
      left: 0;
      top: 0;
      width: 100%;
    }
    .left-section {
      & h2 {
        font-size: 3rem;
      }
      .image-grid {
        padding: 40px 0 0 40px;
        gap: 1rem;

        & div {
          width: 130px;
          gap: 20px;
        }
      }
    }
    .right-section {
      & h3 {
        font-size: 24px;
        color: #9393c4;
        padding-right: 0rem;
      }
      .details-div {
        gap: 1rem;
        margin-top: 1.5rem;
        & div {
          padding-top: 1rem;
        }
      }
    }
  }
  .company {
    margin-top: 50px;
  }
  .join {
    margin: 80px auto;
    border-radius: 24px;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    /* padding: 1rem; */
    .details {
      margin: 1rem;
      & h2 {
        font-size: 2.5rem;
      }
      .store-design {
        gap: 0.8rem;
        padding: 12px 24px;

        border-radius: 1rem;

        & p {
          font-size: 12px;
          color: #9393c4;
        }
        & h3 {
          font-size: 1rem;
        }
        & img {
          width: 1.3rem;
        }
      }
    }
  }
  .join img {
    width: 98%;
  }
  .copyright {
    margin-left: -1.3rem;
  }
}
